@import '../../styles/variables.scss';

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding-top: 2em;
  h1{
    text-align: center;
    font-size: 3em;
    padding-bottom: .5em;
  }
  .errorMessage {
    text-align: center;
    color: red;
  }
}

.navList {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

