@import '../../styles/variables.scss';

header {
  position: fixed;
  width: 100%;
  top: 10em;
  left: 50%;
  padding: 2em;
  transform: translate(-50%, -50%);
  background-color: white;
  h1{
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    color: $color-tertiary;
    padding-bottom: .5em;
    @media screen and (max-width: $breakpoint) {
      font-size: 3em;
    }
  }
  .errorMessage {
    text-align: center;
    color: red;
  }
  @media screen and (max-width: $breakpoint) {
    margin-top: 3em;
    position: relative;
  }
}


.loadinggif{
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: fixed;
    z-index: 100;
    width: 250px;
    height: 250px;
  }
}

