@import 'react-datepicker/dist/react-datepicker-cssmodules.css';
@import '../../styles/variables.scss';

.searchContainer {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 2em;
    justify-content: center;
    align-items: center;
    border-bottom: .1em solid;
    border-color: $color-secondary;
    margin-bottom: 2em;


  label {
    font-size: 20px;
    color: $color-tertiary;
    margin-right: 1em;
  }
  
  input {
    height: 50px;
    border-radius: 5px;
    border: .1em solid;
    padding: 0 1em;
    font-size: 20px;
    border-color: $color-secondary;
    margin-right: 1em;
    color: $color-tertiary;
    &:focus {
      outline: none;
    }
  }
  select{
    height: 50px;
    border-radius: 5px;
    border: .1em solid;
    font-size: 20px;
    border-color: $color-secondary;
    color: $color-tertiary;
    &:focus {
      outline: none;
    }
  }
}

