@import 'react-datepicker/dist/react-datepicker-cssmodules.css';
@import '../../styles/variables.scss';

.searchContainer {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 2em;
  input {
    height: 50px;
    border-radius: 5px;
    border: .1em solid;
    padding: 0 1em;
    font-size: 20px;
    border-color: $color-secondary;
    margin-right: 1em;
    &:focus {
      outline: none;
    }
  }
}