@import '../../styles/variables.scss';

.hotelListContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-top: 13em;
  
    .hotelListItem {
      display: flex;
      background-color: $color-tertiary;
      margin-top: 2em;
      flex-direction: row;
      flex-shrink: 1;
      border: 1px solid #000;
      width: 100%;
      border-radius: $primary-border-radius;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
  
      img {
        border-radius: $primary-border-radius;
        flex-shrink: 1;
        height: $hotel-item-height;
        width: $hotel-item-width;
        padding: 0.1em;
      }
  
      .hotelInfo {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        padding: 0.5em;
        height: $hotel-item-height;
        width: $hotel-item-width;
        background-color: $color-primary;
        border-radius: $primary-border-radius;
        justify-content: center;
        align-items: center;
        .hotelName {
          font-size: 20px;
          font-weight: bold;
        }
  
        .hotelCity {
          font-size: 15px;
        }
  
        .hotelCountry {
          font-size: 15px;
        }
  
        .hotelAvailability {
          font-size: 15px;
        }
  
        .hotelPrice {
          font-size: 20px;
          font-weight: bold;
        }
      }
  
      @media screen and (max-width: $breakpoint) {
        flex-direction: column;
        justify-content: space-between;
        img,
        .hotelInfo {
          height: $hotel-item-height;
          width: 100%;
        }
      }
    }
  }